<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whois</title>
</head>
<body>
    <form action='/domain' method="post" enctype=multipart/form-data>

        <h1>Welcome to Whois Lookup Tool</h1>

    <!-- <label>Enter the name of the domain:</label>
    <input  type="text" name ="name1" > -->
    <br>
    <br>
    <br>

    <label>Select File to upload</label>
    <input type="file" name ="fname1">
    
    <input type='submit'>

    </form>

</body>
</html>